<template data-controller-name="com.zhenergy.hr.view.myNewTeam.myNewTeamHtml">
	<div class="header">
	    <div class="headerBtn" data-sap-ui-type="sap.m.Button" data-tap="back"></div>
		<span class="head_h2">我的团队</span>
	</div>
	<div class="content">
    	<h2 class="head">上级领导</h3>
    	<div class="box">
    		<h3 class="name">张三</h3>
    		<span class="position">CEO</span>
    		<img class='box_img' src="img/touxiang.png" alt="photo">
    	</div>
    	<div class="arrow">
    	    <img class="arrow_img" src="img/arrow.png"></img>
    	</div>
    	<div class="box">
    		<h3 class="name">张三</h3>
    		<span class="position">CEO</span>
    		<img class='box_img' src="img/touxiang.png" alt="photo">
    	</div>
    	<div class="arrow">
    	    <img class="arrow_img" src="img/arrow.png"></img>
    	</div>
    	<div class="box">
    		<h3 class="name">张三</h3>
    		<span class="position">CEO</span>
    		<img class='box_img' src="img/touxiang.png" alt="photo">
    	</div>
    	<div class="arrow">
    	    <img class="arrow_img" src="img/arrow.png"></img>
    	</div>
    	<div class="box">
    		<h3 class="name">张三</h3>
    		<span class="position">CEO</span>
    		<img class='box_img' src="img/touxiang.png" alt="photo">
    	</div>
    	<h2 class="head">下手</h3>
    	<div class="box">
    		<h3 class="name">张三</h3>
    		<span class="position">CEO</span>
    		<img class='box_img' src="img/touxiang.png" alt="photo">
    	</div>
    	<div class="arrow">
    	    <img class="arrow_img" src="img/arrow.png"></img>
    	</div>
    	<div class="box">
    		<h3 class="name">张三</h3>
    		<span class="position">CEO</span>
    		<img class='box_img' src="img/touxiang.png" alt="photo">
    	</div>
	</div>
</template>